two primary data structures of pandas
1. Series : a one-dimensional labeled array holding data of any type. such as integers, strings, Python objects etc. this can only have one data type for the whole array. 

2. Datafram : a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.
    DataFrame can have different data types for each column. e

In [8]:
import pandas as pd
import numpy as np

In [9]:
population =  pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523], name = "G7 Population" )
population

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population, dtype: float64

In [10]:
population.dtype

dtype('float64')

In [12]:
population[1]

63.951

In [13]:
population[2:]

2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population, dtype: float64

In [14]:
population.index

RangeIndex(start=0, stop=7, step=1)

In [15]:
population.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [16]:
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population, dtype: float64

Indexing
to retrive the value of the indexing, use the syntax as
population[index number/name]

In [17]:
population[0] --- index as Canada

C:\Users\shwet\AppData\Local\Temp\ipykernel_15828\467447049.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  population[0]

35.467

In [18]:
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population, dtype: float64

In [21]:
population["Germany"]

80.94

In [ ]:
iloc  is  integer-location based indexing for selection by position.

In [22]:
population.iloc[0]

35.467

In [23]:
population.iloc[1:]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population, dtype: float64

In [24]:
population.iloc[1:-1]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
Name: G7 Population, dtype: float64

select multiple values at time
use the [[ write index numbers here]]

In [28]:
population.iloc[[0, 1]]

Canada    35.467
France    63.951
Name: G7 Population, dtype: float64

In [29]:
population[["Canada", "France"]]

Canada    35.467
France    63.951
Name: G7 Population, dtype: float64

Slicing

In [32]:
population[1: 2]

France    63.951
Name: G7 Population, dtype: float64

Boolean Arrays

In [33]:
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population, dtype: float64

In [34]:
population > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population, dtype: bool

In [35]:
population[population > 70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population, dtype: float64

Modifying series

In [38]:
population["Japan"] = 100
population

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             100.000
United Kingdom     64.511
United States     318.523
Name: G7 Population, dtype: float64

modifying the value using iloc()

In [42]:
population.iloc[2] = 90
population

Canada             35.467
France             63.951
Germany            90.000
Italy              60.665
Japan             100.000
United Kingdom     64.511
United States     318.523
Name: G7 Population, dtype: float64

# Pandas Series exercises

In [ ]:
1. Create an empty pandas Series

In [43]:
pd.Series()

Series([], dtype: object)

In [ ]:
2. Given the X python list convert it to an Y pandas Series

In [ ]:
Given the X python list convert it to an Y pandas Series

In [46]:
X = ['A','B','C']
X

['A', 'B', 'C']

In [49]:
Y= pd.Series(X)
Y

0    A
1    B
2    C
dtype: object

3. Given the X pandas Series, show its values

In [53]:
X= pd.Series(['A','B','C'])
X.values

array(['A', 'B', 'C'], dtype=object)

In [ ]:
4. Assign index names to the given X pandas Series

In [55]:
X= pd.Series(['A','B','C'], index = ['first', 'second', 'third'] )
X

first     A
second    B
third     C
dtype: object

In [ ]:
5. Given the X pandas Series, show its first element

In [58]:
X.iloc[0]

'A'

In [59]:
X['first']

'A'

In [ ]:
5. Given the X pandas Series, show its last element

In [61]:
X['third']

'C'

In [63]:
X.iloc[-1]

'C'

In [ ]:
Given the X pandas Series, show all middle elements

In [67]:
X.iloc[1:-1]

second    B
dtype: object

In [ ]:
Given the X pandas Series, show the first and last elements

In [68]:
X.iloc[[0, -1]]

first    A
third    C
dtype: object

# Convert the given integer pandas Series to float

In [72]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'],
            )

In [75]:
X.astype('float')

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

In [ ]:
Given the X pandas Series, set the fifth element equal to 10

In [76]:
X['fifth'] = 10
X

first      1
second     2
third      3
forth      4
fifth     10
dtype: int64

In [ ]:
Given the X pandas Series, change all the middle elements to 0

In [79]:
X[1:-1] = 0
X

first      1
second     0
third      0
forth      0
fifth     10
dtype: int64

In [ ]:
Given the X pandas Series, add 5 to every element

In [80]:
X= X +5
X

first      6
second     5
third      5
forth      5
fifth     15
dtype: int64